doctype html
html(lang="ru")
  head
    title Планировка помещения
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    meta(name="description" content="Планировка помещения")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href="css/main.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  body
    main
      h1 Планировка помещения
      include ../components/about-work.pug
      include ../components/design-cost.pug 

    script(src="script/main1.js")
    script(src="script/main2.js")